/*/home/alice/.mozilla/firefox/***.default-release/chrome/userContent.css*/
@-moz-document url("about:home"), url("about:newtab"), url("about:privatebrowsing"),url("chrome://browser/content/blanktab.html") {
  body {
    background-image: url("back.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
}
